@model UniversalWebApi.Areas.Manager.Models.TableSqlModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Module SQL</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(h => h.TABLE_NAME)

        <div class="form-group">
            @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control", placeholder = "ex- get-all-items" } })
                <small class="help-block">Body: resource parameter</small>
                @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SQL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SQL, new { htmlAttributes = new { @class = "form-control", placeholder = "ex- select * from wua_master_items where item_id=@item_id" } })
                <small class="help-block">Raw sql query</small>
                @Html.ValidationMessageFor(model => model.SQL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>
}

<div>
    <a href="@Url.Action("Index", "TableSql", new { Area = "Manager", id = Model.TABLE_NAME })" class="btn btn-primary btn-xs">Back to List</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
