@model IEnumerable<UniversalWebApi.Models.UWA_BRANCH>

@{
    ViewBag.Title = "Branch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<p>
    <a href="@Url.Action("Create","Branch", new { Area ="Manager" })" class="btn btn-success btn-xs">Create New</a>
</p>
<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PAYLOAD_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BRANCH_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BRANCH_DESC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BRANCH_STATUS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PAYLOAD_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BRANCH_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BRANCH_DESC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BRANCH_STATUS)
        </td>
        <td>
            <a href="@Url.Action("Create","Branch", new { Area ="Manager",  id=item.BRANCH_ID,db=item.PAYLOAD_ID })" class="btn btn-primary btn-xs">Edit</a>
            <a href="@Url.Action("Delete","Branch", new { Area ="Manager", id = item.BRANCH_ID, db = item.PAYLOAD_ID })" class="btn btn-danger btn-xs" onclick="return confirm('Confirmation !!!\nOnce you send you can not back it.\nAre you sure want to Delete this?');">Delete</a>
        </td>
    </tr>
}

</table>
